.landing{
    background-image: url('../../pictures/foodback.gif');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
}

.wlc{
    color: #d4f7f9;
    text-shadow: #29d6e2c5;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: auto;
    position:relative;
    font-size: 115px;
    background-color: rgba(0, 247, 214, 0);
}

.btn {
    cursor: pointer;
    background: #d4f7f9;
   
  
    border-radius: 15px;
    font-style: italic;

    color: rgb(0, 0, 0);
    font-size: 23px;
    padding: 9px 23px 9px 23px;
    text-decoration: none;
    position:relative;
    margin-top: 15%;
  }
  
  .btn:hover {
    text-decoration: none;
  }